<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>home page</title>
</head>
<body>
<section class="banner d-flex justify-content-center align-items-center">
    <div class="centertext text-center">
        <h1 class="front-weight-bold">Check your Result</h1>
        <p>Preapre well and be good at your scores</p>
        <button class="btn btn-primary btn-lg">Batch</button>


    </div>

</section>

</body>
</html>